@import url("https://fonts.googleapis.com/css?family=Poppins:500,700&display=swap");
:root {
  /* Layout */

  --Mobile: 375px;
  --Desktop: 1440px;

  /* Colors */

  /* Primary */

  --Cyan: hsl(180, 66%, 49%);
  --Grayish-Cyan: hsl(180, 55%, 68%);
  --Dark-Violet: hsl(257, 27%, 26%);

  /* Secondary */

  --Red: hsl(0, 87%, 67%);

  /* Neutral */

  --Gray: hsl(0, 0%, 75%);
  --Grayish-Violet: hsl(257, 7%, 63%);
  --Very-Dark-Blue: hsl(255, 11%, 22%);
  --Very-Dark-Violet: hsl(260, 8%, 14%);

  /* Typography */

  --Font-size: 18px;

  /* ### Fonts */

  --Family: "Poppins";
  --Light-Weight: 500;
  --Bold-Weight: 700;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: /*1440px*/ 100vw;
  font-size: var(--Font-size);
  font-family: var(--Family), sans-serif;
}

#root {
  width: 100%;
  height: 100%;
}
